@model AddUserDto
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}



<form asp-action="SignUp" class="mt-4 mx-auto w-50 p-3 shadow" method="post">
    <h3 class="text-center">Kaydol</h3>
    <div class="form-group">
        <label asp-for="Name">Ad :</label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SurName">Soyad :</label>
        <span asp-validation-for="SurName" class="text-danger"></span>
        <input type="text" asp-for="SurName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password">Parola :</label>
        <span asp-validation-for="Password" class="text-danger"></span>
        <input type="password" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Parola Onay :</label>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserName">Kullanıcı Adı :</label>
        <span asp-validation-for="UserName" class="text-danger"></span>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email :</label>
        <span asp-validation-for="Email" class="text-danger"></span>
        <input asp-for="Email" class="form-control" />
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <a asp-action="Index" class="btn btn-warning">Vazgeç</a>
    <button class="btn btn-info" type="submit">Kayıt Ol</button>

</form>
